option_settings:
  aws:elasticbeanstalk:application:environment:
   DJANGO_SETTINGS_MODULE: myproject.settings
   DJANGO_DEBUG: True
   SECRET_KEY: 'rw(vlinan7exmknuy1z1m@4($$@g3^2%023g(e: #5_#wlk%3*n'
   POSTGRES_DB: ebdb
   POSTGRES_USER: fig
   POSTGRES_PASSWORD: J3susCC77__
   POSTGRES_HOST: db
   POSTGRES_PORT: 5432